<div class="content">

  <div class="content-header">
    Kurzusfelvétel
  </div>

  <div id="courses" class="t-table" *ngIf="courses.length > 0">
    <div class="t-header">
      <div class="t-cell">Kurzus neve</div>
      <div class="t-cell credit">Kredit</div>
      <div class="t-cell teacher">Oktató</div>
      <div class="t-cell teacher">Műveletek</div>
    </div>
    <div class="t-row" *ngFor="let course of courses">
      <div class="t-cell">{{ course.name }}</div>
      <div class="t-cell credit">{{ course.credits }}</div>
      <div class="t-cell teacher">{{ course.teacher }}</div>
      <div class="t-cell" *ngIf="subscribedCourses.indexOf(course) > -1">Ezt a kurzust már felvetted</div>
      <a class="t-cell" href="javascript:void(0)" *ngIf="subscribedCourses.indexOf(course) == -1"
        (click)="takeCourse(course)">Kurzus felvétele</a>
    </div>
  </div>
</div>
