<div id="welcome">
  <!-- Kedves {{ username | uppercase}}, be vagy jelentkezve. -->
<div *ngFor="let mycourse of mycourses">
  <div *ngIf="userid == mycourse.userid">
    <div *ngIf="mycourse.courses != ''; else nulldiv">
      Íme a kurzusaid listája:
      <div *ngFor="let subscribedCourseIds of mycourse.courseids">
        <div *ngFor="let course of courses">
          <div *ngIf="subscribedCourseIds == course.courseid">
            <br>
            <div>
              Kurzus neve: {{course.name}} <br>
              kreditek száma: {{course.credits}} <br>
              Tanár neve: {{course.teacher}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<template #nulldiv>Nincs felvéve kurzusod :(</template >
</div>
