<div class="container">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>
    <h2 class="form-signin-heading">Login</h2>
        <label for="inputEmail" class="sr-only">Felhasználónév</label>
        <input type="text" name="username" ngModel id="inputEmail" class="form-control" placeholder="Felhasználónév" required autofocus>
        <label for="inputPassword" class="sr-only">Jelszó</label>
        <input type="password" name="password" ngModel id="inputPassword" class="form-control" placeholder="Jelszó" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Belépés</button>
        <a [routerLink]="['/register']" class="btn btn-secondary btn-block">Regisztráció</a>

        <div *ngIf="errorMessage" class="form-control-feedback">
          <span class="text-danger">
            <i class="fa fa-close" aria-hidden="true"></i> {{ errorMessage }}
          </span>
        </div>
      </form>
</div>
