<table class="table">
  <tbody>
    <tr>
      <td>Új jelszó:</td>
      <td>
        <input type="password" [disabled]="isSaving" [(ngModel)]="pw1" id="inputPw1" class="form-control" required autofocus>
      <td>
    </tr>
    <tr>
      <td>Új jelszó még egyszer:</td>
      <td>
        <input type="password" [disabled]="isSaving" [(ngModel)]="pw2" id="inputPw2" class="form-control" required>
      </td>
    </tr>

  </tbody>
</table>

<div *ngIf="errorMessage" class="text-center">
  <span class="text-danger">
    <i class="fa fa-close" aria-hidden="true"></i> {{ errorMessage }}
  </span>
</div>


<div class="card-block">
  <button (click)="savePassword()" class="btn btn-outline-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Új jelszó mentése</button>
</div>
