.container {
  max-width: 45rem;
}

.card {
  max-width: 100%;
}

.card .card-text {
  margin-left: 3%;
}

.table {
    max-width: 90%;
    border-radius: 5px;
    margin: 0px auto;
    float: none;
}
.table tr td {
    word-wrap: break-word;
    word-break: break-all;
}
