<div id="payments" class="t-table" *ngIf="userPayments.length > 0">
    <div class="t-header">
		<div class="t-cell">Befizetés neve</div>
		<div class="t-cell amount">Összeg</div>
		<div class="t-cell deadline">Határidő</div>
		<div class="t-cell status">Státusz</div>

    </div>
    <div class="t-row" *ngFor="let payment of userPayments">
		<div class="t-cell">{{ payment.name }}</div>
		<div class="t-cell amount">{{ payment.amount }}</div>
		<div class="t-cell deadline">{{ payment.deadline | date: 'yyyy. MM. dd. ' }}</div>

		<ng-template #fizetve>
			<div class="t-cell">Fizetve</div>
		</ng-template>
		<div class="t-cell status" *ngIf="user.paymentstatus[user.paymentids.indexOf(payment.paymentid)]==false; else fizetve">
			<a href="javascript:void(0)" (click)="payIt(payment)">Fizetés</a>
		</div>

    </div>
</div>

