<div class="content">

  <div class="content-header">
    Vizsgajelentkezés
  </div>

  <div id="exams" class="t-table" *ngIf="courses.length > 0">
    <div class="t-header">
      <div class="t-cell">Kurzus neve</div>
      <div class="t-cell">Időpont</div>
      <div class="t-cell">Terem</div>
      <div class="t-cell">Létszám</div>
      <div class="t-cell">Műveletek</div>
    </div>
    <template ngFor let-course [ngForOf]="subscribedCourses">
      <div class="t-row" *ngFor="let exam of course.exams; let i = index;"
        [ngClass]="{ 'first-row': i === 0, 'taken': isSubscribedToExam(course, exam) }">
      <!-- <div *ngFor="let exam of course.exams"> -->
        <div class="t-cell">{{ i === 0 ? course.name : '' }}</div>
        <div class="t-cell">{{ exam.date | date: 'yyyy. MM. dd. HH:mm' }}</div>
        <div class="t-cell">{{ exam.classRoom }}</div>
        <div class="t-cell center">{{ exam.participants.length }} / {{ exam.maxSize }}</div>

        <a class="t-cell" href="javascript:void(0)" (click)="takeExam(course, exam)"
          *ngIf="!isSubscribedToExam(course, exam) && !isSubscribedToAnyExamForCourse(course)">Jelentkezés</a>
        <a class="t-cell" href="javascript:void(0)" (click)="dropExam(course, exam)"
          *ngIf="isSubscribedToExam(course, exam)">Lejelentkezés</a>
        <a class="t-cell" href="javascript:void(0)" (click)="changeExam(course, exam)"
          *ngIf="!isSubscribedToExam(course, exam) && isSubscribedToAnyExamForCourse(course)">Átjelentkezés</a>
      <!-- </div> -->
      </div>
    </template>
  </div>
</div>
