.content-header {
	padding: 10px;
}

.t-header {
	padding: 10px 0;
}

#scholarships .t-row {
	margin-bottom: 20px;
}

#scholarships .t-cell {
  padding: 5px 10px;
}

#scholarships .t-cell.amount {
  text-align: center;
}

#scholarships .t-cell.date {
  text-align: left;
}
